#root {
    width: 100%;
    color: var(--color-font);
    background-color: var(--color-bg);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
.msgs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    padding: 1rem;
}