:root {
    font-size: 18px;
    /* Dark mode */
    --color-gpt-msg: #444654;
    --color-user-msg: #343541;
    --color-bg: #242424;
    --color-input-bg: #1f1f1f;
    --color-font: rgba(255, 255, 255, 0.87);
    --color-send-btn-bg: green;
    --color-input: #51585c;
    /* Light mode */
    --light-color-font: #213547;
    --light-color-bg: #ffffff;
}
body {
  margin: 0;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: var(--light-color-font);
    background-color: var(--light-color-bg);
  }
} */
