.input-area {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: var(--color-input-bg);
}
@media (max-width: 1000px) {
    .input-area {
        padding: 0 10px;
    }
}
.input-container {
    display: flex;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    position: relative;
    height: 60px;
}
.send-btn {
    cursor: pointer;
    font-size: 37.5px;
    background-color: var(--color-send-btn-bg);
    align-self: flex-end;
    margin-left: calc(-37.5px);
    border-radius: 8px;
    padding: 8px;
    z-index: 1;
}
.texttype {
    position: absolute;
    bottom: 10px;
}
.input-container .textarea {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 7px 37.5px 7px 10px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: inherit;
    color: var(--color-input);
    width: 100%;
    min-height: 38px;
    resize: none;
    overflow-y: hidden;
}